* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: gainsboro;
}
.abs {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: auto;
}
.signup {
    padding: 10px 15px;
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
}
.row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px 7px 15px;
}

.input50w, .input100w, .input33w {
    width: 100%;
    background-color: rgb(240, 240, 240);
    height: 40px;
    border: 1px solid rgb(207, 207, 207);
    padding-left: 10px;
    border-radius: 5px;
}
.input100w {
    width: 100%;
}
.input33w {
    width: 31%;
}
.input33w label{
    margin: auto 0px;
}
.radio {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.select , .radio {
    background-color: white;
}
.note {
    padding: 5px;
    padding-left: 15px;
    font-size: 11px;
    color: rgb(119, 119, 119);
}
#signup {
    margin: auto;
    font-weight: bold;
    font-size: large;
    color:white;
    background-color: rgb(3, 150, 3);
    width: 50%;
    height: 40px;
    border-radius: 5px;
}
.opt-gender {
    display: flex;
}
.alert {
    border: 1px solid red;
}
.chatbox, .chatbox-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(-105%,-50%);
    width: 250px;
    padding-left: 10px;
    background-color: #984a3b; 
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    display: inline-block;
}
.chatbox-left{
    left: 6%;
    transform: translate(155%,-50%);
}
.nose, .nose-left {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border: 10px solid transparent;
    border-left-color: #984a3b;
}
.nose-left {
    left: -18px;
    border-left-color: transparent;
    border-right-color: #984a3b;
}
.fa-input-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 90%;
}
.wide {
    left: 92%;
}

.hide {
    display: none;
    visibility: hidden;
}